*,
*::before,
*::after {
  box-sizing: border-box;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  overflow-y: hidden;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader {
  position: inherit;
  display: inline-block;
  margin: 0 12.5% 100px;
  width: 40px;
  height: 40px;
  border: 2px solid #0cf;
  border-radius: 50%;

  animation: spin 0.75s infinite linear;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: "";
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}

.loader-5,
.loader-5::before {
  display: inline-block;
  border-color: transparent;
  border-top-color: #d0bcfe;
}
.loader-5::before {
  animation: spin 1.5s infinite ease;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
